body {
    margin: 10px;
    font-size: 1.0em;
    word-wrap: break-word;
}

@page {
    margin-bottom: 5pt;
    margin-top: 5pt;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.copyrights li {
    line-height: 2em;
}

h1 {
    margin: 0.8em 0;
    font-size: 1.6em;
    font-weight: bold;
}

h2 {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: bold;
}

p {
    text-indent: 2em;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

p.copyrights {
    text-indent: 0;
    margin-top: 2em;
}